$wBlack   : 800;
$wBold    : 600;
$wMedium  : 500;
$wRegular : 400;
$wLight   : 300;

$bg1 : #075A61;
$bg2 : #3A9B89;
$bg3 : #CA2C55;
$bg4 : #404043;
$bg5 : #ffffff;
$bg6 : #f5f5f5;

$cr1 : #ffffff;
$cr2 : #ffffff;
$cr3 : #ffffff;
$cr4 : #ffffff;
$cr5 : #404043;
$cr6 : #404043;
