@font-face {
  font-family: 'GTWalsheim';
  font-weight: 800;
  src: url("../fonts/GT_Walsheim/GT-Walsheim-Black.eot");
  src: url("../fonts/GT_Walsheim/GT-Walsheim-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/GT_Walsheim/GT-Walsheim-Black.woff") format("woff"), url("../fonts/GT_Walsheim/GT-Walsheim-Black.ttf") format("truetype");
}
@font-face {
  font-family: 'GTWalsheim';
  font-weight: 600;
  src: url("../fonts/GT_Walsheim/GT-Walsheim-Bold.eot");
  src: url("../fonts/GT_Walsheim/GT-Walsheim-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/GT_Walsheim/GT-Walsheim-Bold.woff") format("woff"), url("../fonts/GT_Walsheim/GT-Walsheim-Bold.ttf") format("truetype");
}
@font-face {
  font-family: 'GTWalsheim';
  font-weight: bold;
  src: url("../fonts/GT_Walsheim/GT-Walsheim-Bold.eot");
  src: url("../fonts/GT_Walsheim/GT-Walsheim-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/GT_Walsheim/GT-Walsheim-Bold.woff") format("woff"), url("../fonts/GT_Walsheim/GT-Walsheim-Bold.ttf") format("truetype");
}
@font-face {
  font-family: 'GTWalsheim';
  font-weight: 500;
  src: url("../fonts/GT_Walsheim/GT-Walsheim-Medium.eot");
  src: url("../fonts/GT_Walsheim/GT-Walsheim-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/GT_Walsheim/GT-Walsheim-Medium.woff") format("woff"), url("../fonts/GT_Walsheim/GT-Walsheim-Medium.ttf") format("truetype");
}
@font-face {
  font-family: 'GTWalsheim';
  font-weight: 400;
  src: url("../fonts/GT_Walsheim/GT-Walsheim-Regular.eot");
  src: url("../fonts/GT_Walsheim/GT-Walsheim-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/GT_Walsheim/GT-Walsheim-Regular.woff") format("woff"), url("../fonts/GT_Walsheim/GT-Walsheim-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'GTWalsheim';
  font-weight: normal;
  src: url("../fonts/GT_Walsheim/GT-Walsheim-Regular.eot");
  src: url("../fonts/GT_Walsheim/GT-Walsheim-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/GT_Walsheim/GT-Walsheim-Regular.woff") format("woff"), url("../fonts/GT_Walsheim/GT-Walsheim-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'GTWalsheim';
  font-weight: 300;
  src: url("../fonts/GT_Walsheim/GT-Walsheim-Light.eot");
  src: url("../fonts/GT_Walsheim/GT-Walsheim-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/GT_Walsheim/GT-Walsheim-Light.woff") format("woff"), url("../fonts/GT_Walsheim/GT-Walsheim-Light.ttf") format("truetype");
}
