@import "options";

body.single-post {
  #header, #headBlank { display: none; }
  .area-stories .arrow-l {
    display: block;
    height: 20px;
    margin: -20px 0 20px;
    stroke: $bg2;
    width: 10px;
  }
}

#sTitle {
  max-width: 990px;
  .icon {
    background: center;
    background-size: cover;
    height: 300px;
    margin: 0;
    max-width: 100%;
    width: 780px;
  }
  .name div { margin: 15px 0 15px auto; }
  .data {
    line-height: 1.4;
    margin: -150px 0 0 auto;
    max-width: 400px;
    min-height: 150px;
    text-align: right;
  }
}

#single {
  margin: 0 auto 20px;
  max-width: 880px;
  > div > * {
    line-height: 25px;
    margin: 0 auto 1.5em;
  }
  b, strong { font-weight: $wBold; }
  iframe, object, video {
    border: 0;
    display: block;
    height: 580px;
    margin: 0 -105px;
    width: 1030px;
  }
  img {
    height: auto;
    max-width: 100%;
    &.aligncenter,
    &.alignnone {
      display: block;
      margin: auto;
    }
  }
  a {
    font-weight: $wBold;
    &:hover { border-bottom: 1px dashed }
    &:focus { border-bottom: 1px solid }
  }
}

@media (max-width: 1200px) {
  body.single-post {
    .area-stories .arrow-l { margin-left: 20px; }
  }
}

@media (max-width: 1030px) {
  #sTitle .icon {}
  #single {
    iframe, object, video {
      height: 420px;
      margin: 0 -30px;
      width: calc(100% + 60px);
    }
  }
}

@media (max-width: 767px) {
  #sTitle .data { margin-top: -40px; }
  #single {
    iframe, object, video { height: 360px; }
  }
}

@media (max-width: 480px) {
  #sTitle .data { margin: -40px 30px 0; }
  #single {
    iframe, object, video { height: 220px; }
  }
}