@import "../options";

.area-numbers {
  .container { max-width: 860px; }
  .owl-carousel { margin-top: 60px; }
  .item {
    font-size: 16px;
    font-weight: $wBlack;
    line-height: .9;
    padding: 10px;
  }
  .v-mid {
    background: center no-repeat;
    background-size: contain;
    height: 190px;
    max-width: 380px;
  }
  .val { font-size: 70px; }
  .key { font-style: italic; }
  .owl-nav {
    left: 0;
    margin-top: -10px;
    position: absolute;
    top: 50%;
    z-index: 3;
    width: 100%;
  }
  .owl-prev,
  .owl-next {
    background: url("../img/arrow-l.svg") center no-repeat;
    background-size: contain;
    float: left;
    height: 20px;
    width: 20px;
  }
  .owl-next {
    background-image: url("../img/arrow-r.svg");
    float: right;
  }
  .owl-dots {
    bottom: -35px;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 3;
  }
  .owl-dot {
    background: $bg5;
    border-radius: 5px;
    display: inline-block;
    height: 10px;
    margin: 7px;
    width: 10px;
    &:not(.active) { opacity: .5; }
  }

}

@media (max-width: 799px) {
  .area-numbers .v-mid { height: 380px; }
}

@media (min-width: 481px) and (max-width: 799px) {
  .area-numbers {
    .item { font-size: 25px; }
    .val { font-size: 150px; }
  }
}